
symlinks {
  test source="~/ivylink-test-source" target="~/ivylink-test-target"
}

themes {
  //target "gtk-4-0"   template="gtk-colors.css"         output="~/.config/gtk-4.0/colors.css"
  //target "gtk-3-0"   template="gtk-colors.css"         output="~/.config/gtk-3.0/colors.css"
  //target "niri"      template="niri-colors.kdl"        output="~/.config/niri/colors.kdl"
  //target "kitty"     template="kitty-colors.conf"      output="~/.config/kitty/current-theme.conf"
  //target "starship"  template="starship-colors.toml"   output="~/.config/starship.toml"
  //target "prism-json" template="prism-theme.json"       output="~/.local/share/PrismLauncher/themes/IvyShell/theme.json"
  //target "prism-css"  template="prism-theme.css"        output="~/.local/share/PrismLauncher/themes/IvyShell/themeStyle.css"
  //target "qt"        template="qt-colors.colors"       output="~/.local/share/color-schemes/IvyShell.colors"
  //target "helix"       template="helix-theme.toml"       output="~/.config/helix/themes/dynamic.toml"
  //target "vscode"      template="vscode-theme.json"      output="~/.vscode-oss/extensions/ivyella.ivy-theme-1.0.0/themes/ivy.json"
  //target "ivyshell"     template="ivyshell.css"           output="~/.config/ivyshell/theme.css"
  target "test"  template="prism-theme.css"        output="~/test.css"
}


services {
    test-service exec="/usr/bin/test" restart="on-failure" partOf="graphical-session.target" wantedBy="graphical-session.target"
}